.airCaptureVimeoVideo {display: inline-block; width: 100%;}
.airCaptureVimeoVideo iframe {
	border: none;
	margin-right: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	display: block;
	width: 220px;
	height: 130px;
	float: left;
}
.airCaptureVimeoVideo .breaker {margin-top: -10px; display: inline-block; width: 256px; height: 1px; padding: 0; margin: 0}
.airCaptureVimeoVideo p.title {padding: 0; margin-top: -16px; margin-bottom: 8px;}
.airCaptureVimeoVideo p, .airCaptureVimeoVideo ul {min-width: 200px !important; white-space: normal !important}
.airCaptureVimeoVideo ul {list-style: none; padding: 0; margin: 0; line-height: 1.4em; display: inline; }
.airCaptureVimeoVideo ul li {margin: 0; display: inline; white-space: nowrap}
.airCaptureVimeoVideo ul, .airCaptureVimeoVideo ul li a,.airCaptureVimeoVideo .start, .airCaptureVimeoVideo .start a, .airCaptureVimeoVideo .label {color: #777}
.airCaptureVimeoVideo ul li:first-child {padding-left: 0; padding-right: 0}
.airCaptureVimeoVideo ul li:last-child {border-right: none}
.airCaptureVimeoVideo ul li::after {content: "•"; padding: 0 0.3em}
.airCaptureVimeoVideo ul li:last-child::after {display: none}
.airCaptureVimeoVideo p.link {margin-top: 1em; white-space: nowrap}

/*
.vimeoListPreview {
	max-width: 99%;
	border-width: 0.1em;
	border-style: solid;
	border-color: whitesmoke;
}
*/
/*
.SmallVideo figure{
	margin: 0;
}
*/

.SmallVideo {
	max-width: 50%;
	float: left;
}
/*
.MainVideo figure{
	margin: 0;
	width: 100%;
}
*/

.MainVideo .video-wrapper {
	max-height: 100%;
	height: inherit;
	padding-bottom: inherit;
}

/*
.ListVideo {
	max-width: 33%;
	float: left;
}
*/

.video-list {

}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.video-container {
	max-width: 500px;
	margin-bottom: 40px;
	padding: 10px;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.2%;
}

/*
.video-wrapper {
	overflow: hidden;
	position: relative;
	border: 1px solid whitesmoke;
}
.video-caption {
	position: absolute;
	top: 100%;
}
 */


/* 8:5 Aspect Ratio (divide 5 by 8 = 0.625) */
/* 3:2 Aspect Ratio (divide 2 by 3 = 0.6666)  */
/* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
/* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

.video-wrapper img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.col-md-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}