.aircapturevimeovideo {display: inline-block; width: 100%;}
.aircapturevimeovideo iframe {
	border: none;
	margin-right: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	display: block;
	width: 220px;
	height: 130px;
	float: left;
}
.aircapturevimeovideo .breaker {margin-top: -10px; display: inline-block; width: 256px; height: 1px; padding: 0; margin: 0}
.aircapturevimeovideo p.title {padding: 0; margin-top: -16px; margin-bottom: 8px;}
.aircapturevimeovideo p, .aircapturevimeovideo ul {min-width: 200px !important; white-space: normal !important}
.aircapturevimeovideo ul {list-style: none; padding: 0; margin: 0; line-height: 1.4em; display: inline; }
.aircapturevimeovideo ul li {margin: 0; display: inline; white-space: nowrap}
.aircapturevimeovideo ul, .aircapturevimeovideo ul li a,.aircapturevimeovideo .start, .aircapturevimeovideo .start a, .aircapturevimeovideo .label {color: #777}
.aircapturevimeovideo ul li:first-child {padding-left: 0; padding-right: 0}
.aircapturevimeovideo ul li:last-child {border-right: none}
.aircapturevimeovideo ul li::after {content: "•"; padding: 0 0.3em}
.aircapturevimeovideo ul li:last-child::after {display: none}
.aircapturevimeovideo p.link {margin-top: 1em; white-space: nowrap}
