
.video-container {
	max-width: 1400px;
	padding: 10px;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.2%;
	border: 1px solid whitesmoke;
}
.video-wrapper img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* 3 columns video */
/*
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
*, ::after, ::before {
	box-sizing: border-box;
}
.col-md-4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
*/

/* 2 columns video */
/*
.col-md-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.col-md-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
*/

/* 8:5 Aspect Ratio (divide 5 by 8 = 0.625) */
/* 3:2 Aspect Ratio (divide 2 by 3 = 0.6666)  */
/* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
/* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

/* Videos on main page */
.landing-video .col-md-12 .video-container,
.landing-video .col-md-6 .video-container {
	padding: 0 10px;
}
.landing-video .col-md-12 .video-wrapper,
.landing-video .col-md-6 .video-wrapper {
	border: none;
}
.landing-video .col-md-12 .video-container,
.landing-video .col-md-6 .video-container{
	margin-bottom: 15px;
}
.landing-video .responsive-video-container,
.landing-video .responsive-video-container {
	margin-bottom: 5px;
}
.landing-video .responsive-video-caption,
.landing-video .responsive-video-caption {
	display: none;
}
