<header>
    <div class="header">
        <f:cObject typoscriptObjectPath="lib.logo" />
        <f:cObject typoscriptObjectPath="lib.navigation" />

         <!--<ul class="container">
            <li class="item"><a href="done_racer.html" title="01"><img src="img/icon5.svg" alt="01"></a></li>
            <li class="item"><a href="#" title="06"><img src="img/icon4.svg" alt="06"></a></li>
            <li class="item"><a href="#" title="07"><img src="img/icon2.svg" alt="07"></a></li>
            <li class="item avatar"><a href="#" title="08"><img src="img/icon7.svg" alt="08"></a></li>
            <li class="item"><a href="#" title="09"><img src="img/icon3.svg"></a></li>
            <li class="item"><a href="services.html" title="10"><img src="img/icon1.svg" alt="10"></a></li>
            <li class="item"><a href="#" title="11"><img src="img/active_contact.svg" alt="11"></a></li>
        </ul>-->

        <div class="contact">
            <button class="btn_contact">CONTACT</button>

            <div class="contact_info">
                <span>Yoann Techer</span><br>
                <span>Route de Molines</span><br>
                <span>05000 GAP</span><br>
                <span>Tél. : 06 66 22 50 07</span><br>
                <span>arcature.drone@gmail.com</span>
            </div>
            <div class="foot_header">
                <span>Copyright Air Capture</span>
                <span>Mentions légale&nbsp;&nbsp;-&nbsp;&nbsp;Création Piment Rouge</span>
            </div>
        </div>
    </div>
</header>