<div id="band" class="burger">
    <f:image id="bandOne" class="band" alt="band" src="EXT:tmpl/Resources/Public/img/band.svg" />
    <f:image id="bandTwo" class="band" alt="band" src="EXT:tmpl/Resources/Public/img/band.svg" />
    <f:image id="bandThree" class="band" alt="band" src="EXT:tmpl/Resources/Public/img/band.svg" />
</div>