<div class="responsive-video-container">

    <f:if condition="{data.video_id}">
        <iframe class="responsive-video-iframe" type=”text/html”  src="https://player.vimeo.com/video/{data.video_id}?autoplay=0&background=1"
                width="640" height="360" frameborder="0" allow="autoplay; webkitallowfullscreen mozallowfullscreen allowfullscreen fullscreen" allowfullscreen>
        </iframe>
    </f:if>

    <f:if condition="{data.video_caption}">
        <span class="responsive-video-caption"><f:format.raw>{data.video_caption}</f:format.raw></span>
    </f:if>
</div>