<div class="services">
    <div class="services_text">
        <f:if condition="{data.header}">
            <span class="service_head">{data.header}</span>
        </f:if>
        <f:if condition="{data.bodytext}">
            <f:format.raw><span class="service_description">{data.bodytext}</span></f:format.raw>
        </f:if>
    </div>

    <f:if condition="{images.0}">
        <f:image class="about" src="{images.0.uid}"
                 treatIdAsReference="1"
                 alt="{images.0.alternative}"
                 title="{images.0.title}"
                 maxWidth="600" />
    </f:if>
</div>