<div class="service">
    <f:if condition="{images.0}">
        <f:image src="{images.0.uid}" treatIdAsReference="1"
                 alt="{images.0.alternative}" title="{images.0.title}" maxWidth="1200" />
    </f:if>

    <div class="service_text">
        <f:if condition="{data.header}">
            <span>{data.header}</span>
        </f:if>
        <f:if condition="{data.bodytext}">
            <f:format.raw>{data.bodytext}</f:format.raw>
        </f:if>

        <f:if condition="{data.teaser_link}">
            <button class="teaser-button" onclick="location.href='<f:uri.typolink parameter="{data.teaser_link}" />';">
                <f:translate key="ce.teaser_more" extensionName="tmpl" />
            </button>
        </f:if>
    </div>
</div>
