<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="slider_one">
	<span>{data.bodytext}</span>

	<div class="paginator-center text-color text-center">
		<ul>
			<li class="prev"></li>
			<li class="next"></li>
		</ul>
	</div>

	<div class="slider">
		<f:for each="{files}" as="image">
			<f:image image="{image}" class="_single-item" height="100c" alt="{image.properties.alt}" title="{image.properties.title}" />
		</f:for>
	</div>
</div>

<script>
	$('.slider').slick({
		autoplay: true,
		autoplaySpeed: 2000,
		draggable: true,
		infinite: true,
		variableWidth: true,
		centerMode: true,
		swipeToSlide: true,
		prevArrow: $('.prev'),
		nextArrow: $('.next'),
		slidesToShow: <f:format.raw>{data.slides_to_show}</f:format.raw>,
		slidesToScroll: <f:format.raw>{data.slides_to_scroll}</f:format.raw>,


	responsive: [
		{
			breakpoint: 1400,
			settings: {
				slidesToShow: 3,
				slidesToScroll: 3
			}
		},
		{
			breakpoint: 768,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2
			}
		},
		{
			breakpoint: 480,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		}

	]

	});
</script>

</html>