.service_block,
.drone_content .video_block {
    overflow: auto;
}

#mailform-4 h2 {
    display: none;
}
label.control-label {
    font-size: 22px;
    font-family: 'Lato',sans-serif;
    color: #707070;
}
#mailform-4-textarea-1 {
    padding: 4% 2%;
}
input.form-control {
    padding: 3.5% 3%;
}
#mailform-4 .btn_contact {
    /*padding: 2% 2%; */
}

h1 {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.video_block  p {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #707070;
}
.video_block .figureCaption {
    justify-self: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
}
/*
.service a.button button {
    padding: 50px 0;
    cursor: pointer;
}
*/

.services img {
    width: 100%;
    height: auto;
}

button.teaser-button {
    cursor: pointer;
}

/* Slider one */
.paginator-center {
    position: relative;
    top: 40px;
}
.prev, .next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    padding-top: 50px;
    display: block;
    height: 40px;
    width: 22px;
    padding: 0;
    /*cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;*/
}
.prev {
    left: -25px;
    background: url('../img/prev.png') no-repeat;
}
.next {
    right: -25px;
    background: url('../img/next.png') no-repeat;
}
.slider_one .slick-list {
    left: 33px;
    width: 97%;
    overflow: hidden;
    margin: 0 -5px;
}

.slider_one .slick-slide > div {
    max-height: 100px;
    margin: 0 5px;
}
.slider_one .slick-slide > div img {
    height: 100px;
}

/* Second slider */
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 0;
}
.slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 0px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 50px;
    height: 91px;
    display: block;
}
.slick-prev::before {
    background: url('../img/prevtwo.svg') no-repeat;
}
.slick-next::before {
    background: url('../img/nexttwo.svg') no-repeat;
}

.slider_two .slick-list {
    left: 30px;
}

.photo_block img {
    height: auto;
}


.active_burger {
    z-index: 99;
}
.height_87vh {
    height: 87vh;
    position: relative;
    z-index: 1;
}
#band {
    z-index: 100;
}


.btn_contact a {
    text-decoration: none;
    color: #fff;
}

/* Video IFrame */
.responsive-video-container {
    position: relative;
    /*overflow: hidden;*/
    padding-bottom: 10px;
    height: 0;
    padding-top: 56.25%; /* 16:9 */
    margin-bottom: 60px;
}
.responsive-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}
.responsive-video-caption {
    display: block;
    justify-self: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 20px;
    color: #fff;
    text-align: center;
}

.landing-video .responsive-video-iframe {
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: content-box;
}

[class^='col'],
.col,
.col::before,
.col::after {
    box-sizing: border-box;
}

/* Videos on main page */
.landing-video .video-container {
    padding: 0 10px;
}
.landing-video .video-wrapper {
    border: none;
}
.landing-video .responsive-video-container {
    margin-bottom: 5px;
    padding-bottom: 0px;
}
.landing-video .responsive-video-caption {
    display: none;
}
.first-video .responsive-video-container {
    margin-bottom: 10px;
}
.mobile-logo-block {
    display: none;
}

/* Overrite fluid styled content styles */
.ce-textpic, .ce-image, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div {
    overflow: unset;
}


/* Overwrite original styles */
.content {
    -webkit-overflow-scrolling: touch;
}
.contact_content {
    padding: 0;
}
.service_block {
    height: 88vh;
}
.drone_content {
    padding: 0;
}
.drone_content .video_block {
   height: 88vh;
}
.services:last-child {
    padding-bottom: 20px;
}
body {
    -webkit-overflow-scrolling: touch;
}