

body{
    background: black url("img/backround.svg") no-repeat;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

header .header{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.3fr auto 1fr;
    grid-gap: 10%;
    position: sticky;
}

.logo_block{
    padding: 10% 0 0 10%;
}

.item {
    width: 8rem;
    height: 8rem;
    position: relative;
    justify-self: center;
    /* Default - simple fallback when no CSS Grid support */
    display: inline-block;
    margin: 0.5rem;
    z-index: 10;
}
.item::before { /* Goldenrod outline on the hexagon */
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    transform: scale(1.077);
    transition: transform 0.3s;
}
.item:hover::before {
    transform: scale(1.154);
}
.item a {
    display: grid;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    /* 	background-image: See JS. */
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

.item a img{
    justify-self: center;
    align-self: center;
    transform: rotate(-30deg);
    width: 100%;
}

.item:hover:after{
    color: white;
    z-index: 0;
    font-size: 15px;
    background: #64A51C;
    padding: 5px 15px;
    border-radius: 20px;
    border: 2px solid white;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    transform: rotate(-30deg);
    text-align: center;

}

.item:hover:nth-child(1):after{
    content: "DRONE RACER";
    margin-left: -35px;
}
.item:hover:nth-child(2):after{
    content: "VIDEO";
    margin-left: 0px;
}
.item:hover:nth-child(3):after{
    content: "PHOTO";
    margin-left: -10px;
}
.item:hover:nth-child(5):after{
    content: "SOCIAL";
    margin-left: -5px;
}
.item:hover:nth-child(6):after{
    content: "MES SERVICES";
    margin-left: -38px;
}

.item:hover:nth-child(7):after{
    content: "CONTACT";
    margin-left: -18px;
}

.btn_contact{
    font-size: 24px;
    padding: 6px 30px 3px;
    font-family: 'Lato', sans-serif;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #64A51C;
    color: white;
    justify-self: center;
}

.contact{
   padding: 0 0 0 10%;
}

.contact_info span{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.contact_info span:first-child{
   font-weight: 900;
    font-size: 17px;
}

.contact_info{
    margin-top: 20px;
}

.foot_header{
    margin-top: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: auto auto;
}

.content{
    display: grid;
    padding: 5% 5% 5% 0;
    grid-gap: 15px;
    overflow: scroll;
    margin-bottom: auto;
}

.content video{
    width: 100%;
}

.photo_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.photo_block img{
    width: 100%;
}

.service{
    background: #315A03;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10%;
    grid-gap: 5%;
}

video[poster]{
    width:100%;
}

.video video{
    width: 100%;
}

.content .service img {
    width: 100%;
    align-self: center;
}

.service_text{
    color: white;
    display: grid;
    font-family: 'Lato', sans-serif;
}

.service_text span:first-child{
     font-size: 32px;
 }

.service_text span:last-child{
    font-size: 24px;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 100;
}

.service button{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: white;
    border: none;
    width: 70%;
}

.slider_one{
    color: white;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    background:  url("img/back_two.png") black;
    padding: 5% 10%;
}

.slider_one span{
    margin-left: 30px;
}

.slider_one .slider{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 20px;
    margin-top: 3%;
}

.slider_one .slider img{
    width: 100%;
    align-self: center;
    justify-self: center;
}

.slider_two{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: #64A51C;
    padding: 5%;
}

.facebook_img{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img2{
    align-self: end;
    justify-self: end;
}

.img1{
    align-self: end;
    justify-self: start;
}

.footer_text{
    color: white;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-gap: 15%;
}

.slider_two .slider{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.slider_two .slider img{
    justify-self: center;
    align-self: center;
    width: 100%;
}

.slide{
    width: 340px;
    height: 340px;
}

.footer_text span{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.drone_content{
    display: grid;
    padding: 5% 5% 5% 0;
    grid-gap: 15px;
    height: 100%;
}

.drone_content .video_block{
    background: #212121;
    padding: 5% 7%;
    display: grid;
    grid-gap: 5%;
    height: 75vh;
    overflow: scroll;
}

.contact_content{
    padding: 5% 5% 5% 0;
    display: grid;
}

.video_block .header{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}

.contact_block .header{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}

.service_block .header{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}

.video_text{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #707070;
}

.video_block .video{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2.5%;
}

.video_block .video video{
    width: 100%;
    border: 2px solid white;
}

.video div{
    display: grid;
    color: white;
    grid-gap: 3%;

}

.video div span{
    justify-self: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;

}

.input_field{
    display: grid;
}

.small_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_block{
    background: #212121;
    padding: 5% 7%;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

.service_block{
    background: #212121;
    padding: 5% 7%;
    display: grid;
    overflow: scroll;
}

.contact_block form{
    display: grid;
    grid-row-gap: 10%;
}

.contact_block form div{
    display: grid;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
}

.contact_block form div label input{
    padding: 3.5% 3%;
}

.contact_block form  label input{
    padding: 4% 2%;
}

.btn_env{
    justify-self: end;
    max-height: 60px;
}

.input_field{
    display: grid;
    gap: 10px;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.service_block{
    height: 75vh;
    overflow: scroll;
    grid-gap: 10%;
}

.service_head{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
}

.services_text{
    display: grid;
}

.service_description{
    font-size: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 125%;
}

.services:last-child{
    margin-bottom: 10%;
}

.video div:last-child{
    margin-bottom: 10%;
}

@keyframes open_burger {
    from {
        left: -1100px;
    }
    to {
        left: 0;
    }
}

@keyframes close_burger {
    from {
        left: 0;
    }
    to {
        left: -1100px;
    }
}

.active_burger{
    left: 0;
    animation: open_burger 1s ease;
    width: 100%;
    background: black;
}

.burger{
    margin: 20px 0;
    display: grid;
    height: 20px;
    position: fixed;
    right: 10px;
}

.bandOne{
    transform: rotate(45deg);
    position: absolute;
}

.bandThree{
    transform: rotate(-45deg);
}

.bandTwo{
    display: none;
}
.band{
    width: auto!important;
    margin: 0!important;
}

.nonactive_burger{
    animation: close_burger 1s ease;
    width: 100%;
    background: black;
}

.burger{
    display: none;
}
.services_text{
    grid-gap: 20px;
}

.services img{
    width: 100%;
}

@media screen and (max-height: 900px) {
    header .header{
        grid-gap: 5%;
    }
}

@media screen and (max-width: 1250px) {
    .footer_text span{
        font-size: 18px;
    }

   .content .service img{
        width: 100%;
       align-self: center;
    }

}


@media screen and (max-width: 1040px) {

    .burger{
        display: grid;
    }
    .avatar{
        display: none !important;
    }

    .item:hover:after{
        display: none;
    }

   header{
       position: absolute;
       left: -1100px;
   }

    body{
        grid-template-columns: 1fr;
    }

    .contact_conten , .drone_content, .contact_content, .content{
        height: 100vh;
        align-content: center;
        align-self: center;
        padding: 0 5%;
    }

    .video_text{
        font-size: 17px;
    }

    .services{
        grid-template-columns: 1fr;
    }

    .services img{
        width: 100%;
    }

    .services_text{
        grid-gap: 20px;
    }

    .logo{
        width: 100%;
    }

    .photo_block{
        grid-template-columns: 1fr;
    }

    .service{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .service_text{
        grid-gap: 20px;
    }

    .service img , .service span , .service button{
        justify-self: center;
        width: 100%;
    }

    .slider_two{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .video_block .video{
        grid-template-columns: 1fr;
        grid-row-gap: 0.5%;
    }

    .video div:last-child{
        margin-bottom: 5%;
    }
    .item {
        width: 7rem;
        height: 7rem;
        position: relative;
        justify-self: center;
        display: inline-block;
        margin: 0.1rem;
        z-index: 10;
        transform: rotate(30deg);
    }

}

@media screen and (max-width: 400px) {
    header .contact{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .item{
        transform: rotate(30deg);
    }
}

@supports (display: grid) {

    @media (min-width: 65rem) {
        .container {
            display: grid;
            max-width: 15rem;
            grid-template-columns: repeat(10, 4.2rem);
        }
        .item {
            grid-column: span 2;
            margin-bottom: -2.7rem;	/* shifting up the items in the next row */
        }
        .item:nth-child(even) {grid-column: 2}
    }

    @media (min-width: 65rem) {
        .container {
            max-width: 50rem;
            transform: rotate(30deg);
            grid-template-columns: repeat(10, 3.3rem);
        }
        .item:nth-child(9n+1) {grid-column: 4}
        .item:nth-child(9n+2) {grid-column: 6}
        .item:nth-child(9n+3) {grid-column: 3}
        .item:nth-child(9n+4) {grid-column: 5}
        .item:nth-child(9n+5) {grid-column: 7}
        .item:nth-child(9n+6) {grid-column: 4}
        .item:nth-child(9n+7) {grid-column: 6}

    }
}
