/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width : 1400px) {

}

    /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .col-md-4,
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width : 1040px) {
    .mobile-logo-block {
        display: block;
        padding-top: 45px;
        padding-left: 40px;
        margin-bottom: 10px;
    }
    body#page-2 .mobile-logo-block {
        padding-top: 0px;
    }
    body#page-4 .mobile-logo-block {
        padding-top: 25px;
    }
    .mobile-logo-block img {
        width: 100%;
        max-width: 370px;
        height: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    body {
        min-height: 100vh;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    /* Height for blocks */
    .contact_content .service_block {
        height: auto;
    }
    .contact_block {
        /*height: 100vh;*/
        /*overflow: auto;*/
        display: block;
        height: auto;
    }
    .drone_content .video_block,
    .contact_content .service_block {
        /*height: calc(95vh + 220px);*/
        height: 100vh;
    }
    .contact_content {
        height: auto;
    }

    .first-video .responsive-video-container {
        margin-bottom: 5px;
    }
    .landing-video .responsive-video-container {
        border: 1px solid rgba(193, 193, 193, 0.6);
    }

    .video_block col-md-4:last-child {

    }
    .service_block img {
        margin-bottom: 20px;
    }

    .mobile-hide {
        display: none;
    }
    .mobile-logo-block {
        display: block;
    }

        /* Contact form for mobile */
    span.video_text {
        display: block;
        margin-top: 10px;
    }
    .contact_block form div {
        max-width: 600px;
        width: 100%;
        display: block;
    }
    .contact_block form {
        display: block;
        padding-bottom: 30px;
    }
    label.control-label {
        display: block;
        margin: 10px 0;
    }
    input.form-control {
        width: 90%;
    }
    #mailform-4-textarea-1 {
        width: 92%;
    }
    #mailform-4 .btn_contact {
        margin-top: 30px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .slider_one .slick-list {
        left: 30px;
        width: 95%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        margin: 0 -5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slider_one .slick-list {
        left: 33px;
        width: 80%;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        margin: 0 -5px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}