<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section  name="Main">
		<table class="videoTable">
			<f:if condition="{listtype} == 14">
					<f:for each="{videoList}" as="video" iteration="videoIter">
						<f:if condition="{videoIter.isFirst}">
							<f:then>
									<div class="MainVideo">
										<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
									</div>
							</f:then>
							<f:else>
								<div class="SmallVideo">
									<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
								</div>
							</f:else>
						</f:if>
					</f:for>
			</f:if>
			<f:if condition="{listtype} == 3">
					<f:for each="{videoList}" as="video" iteration="videoIter">
						<div class="ListVideo">
							<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
						</div>
					</f:for>
			</f:if>
		</table>
	</f:section>
</html>

