<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<div class="airCaptureVimeoVideo">
		<figure>
			<div class="videoWrapper" style="
						height: 0;
						overflow: hidden;
						position: relative;
						padding-bottom:
							<f:if condition="{ratio} == 0">
								<f:CObject typoscriptObjectPath="plugin.tx_aircapturevimeovideo.render.ratioDefault" />%
							</f:if>
							<f:if condition="{ratio} == 1">
								<f:CObject typoscriptObjectPath="plugin.tx_aircapturevimeovideo.render.ratio1" />%
							</f:if>
						;
						">
			<iframe
					id="airCaptureVimeoVideo_{uid}"
					src="https://player.vimeo.com/video/{code}?byline=0"
						&amp;portrait=0
						&amp;badge=0
						&amp;color={f:cObject(typoscriptObjectPath:'plugin.tx_aircapturevimeovideo.render.color')}
						&amp;autoplay={autoplay}
						&amp;loop={loop}
						&amp;title={title}"
					style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"
					webkitallowfullscreen mozallowfullscreen allowfullscreen>
			</iframe>

	</div>

	<f:if condition="{caption}">
		<figcaption>
			<p class="figureCaption">{caption}</p>
		</figcaption>
	</f:if>
	</figure>
	</div>
</f:section>
</html>