<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section  name="Main">
		<div class="tx_aircapturevimeovideo">
			<f:if condition="{listtype} == 14">
				<div class="row landing-video">
					<f:for each="{videoList}" as="video" iteration="iterator">
						<f:if condition="{iterator.isFirst}">
							<f:then>
								<div class="col-md-12 col">
									<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
								</div>
							</f:then>
						</f:if>
					</f:for>
				</div>
				<div class="row landing-video">
					<f:for each="{videoList}" as="video" iteration="iterator">
						<f:if condition="{iterator.isFirst}">
							<f:then>
								<!-- Here we don't showing first video -->
							</f:then>
							<f:else>
								<div class="col-md-6 col">
									<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
								</div>

								<f:if condition="{iterator.index} % 2">
									<f:then>
									</f:then>
									<f:else>
										<f:if condition="{iterator.isLast}">
											<f:then>
											</f:then>
											<f:else>
												<!--  close row -->
								</div>
								<!-- open new row -->
							<div class="row landing-video">
							</f:else>
						</f:if>
						</f:else>
						</f:if>

							</f:else>
						</f:if>
					</f:for>
				</div>
			</f:if>

		<!-- This is share variant related with original cut -->
		<f:if condition="{listtype} == 33">
			<div class="video">
				<f:for each="{videoList}" as="video" iteration="iterator">
					<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
				</f:for>
			</div>
		</f:if>

		<!-- This is only an example how to use bootstrap grid row -->
			<f:if condition="{listtype} == 3">
					<div class="row">
						<f:for each="{videoList}" as="video" iteration="iterator">
							<div class="col-md-4 col">
								<f:render partial="VimeoVideoFrame" arguments="{video: video}" />
							</div>
							<f:if condition="{iterator.cycle} % 3">
								<f:then>
								</f:then>
								<f:else>
									<f:if condition="{iterator.isLast}">
										<f:then>
										</f:then>
										<f:else>
											<!--  close row -->
					</div>
					<!-- open new row -->
							<div class="row">
							</f:else>
						</f:if>
					</f:else>
					</f:if>
					</f:for>
					<!-- close last open row -->
				</div>
			</f:if>

		</div>
	</f:section>
</html>

