<div class="airCaptureVimeoVideo responsive-video">
    <figure>
        <div class="videoWrapper">
            <a data-fancybox href="https://vimeo.com/video/{video.code}?byline=0
														&amp;portrait=0
														&amp;badge=0
														&amp;color={f:cObject(typoscriptObjectPath:'plugin.tx_aircapturevimeovideo.render.color')}
														&amp;autoplay={video.autoplay}
														&amp;loop={video.loop}
														&amp;title={video.title}">
                <img class='vimeoListPreview' src="{video.picture_link}">

            </a>
        </div>
        <f:if condition="{video.title}">
            <figcaption>
                <p class="figureCaption">{video.caption}</p>
            </figcaption>
        </f:if>
    </figure>
</div>
