<div class="responsive-video-container">
    <iframe class="responsive-video-iframe" src="https://player.vimeo.com/video/{video.code}" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen" allowfullscreen>
    </iframe>
    <span class="responsive-video-caption">{video.caption}</span>
</div>