    <div class="video-container">
        <div class="video-wrapper">
            <a data-fancybox href="https://vimeo.com/video/{video.code}?byline=0
														&amp;portrait=0
														&amp;badge=0
														&amp;color={f:cObject(typoscriptObjectPath:'plugin.tx_aircapturevimeovideo.render.color')}
														&amp;autoplay={video.autoplay}
														&amp;loop={video.loop}
														&amp;title={video.title}">
                <img class='vimeoListPreview' src="{video.picture_link}">

            </a>
        </div>
        <f:if condition="{video.caption}">
            <div class="video-caption">
                <p class="figureCaption">{video.caption}</p>
            </div>
        </f:if>
    </div>
