<header>
    <div class="header">
        <f:cObject typoscriptObjectPath="lib.logo" />
        <f:cObject typoscriptObjectPath="lib.navigation" />
        <div class="contact mobile-hide">
            <f:render partial="Contact" arguments="{_all}" />
            <f:render partial="Footer" arguments="{_all}" />
        </div>
    </div>
</header>

<f:render partial="Burger" arguments="{_all}" />
<section class="{data.section_class}">
    <div class="{data.container_class}">
        <f:cObject typoscriptObjectPath="lib.mobileLogo" />
        <f:render section="content" />
    </div>
</section>
