/*! adobe-profile - v1.1.10 - 02-11-2020, 2:22:00 AM

ADOBE CONFIDENTIAL
==================
Copyright 2018 Adobe Systems Incorporated
All Rights Reserved.

NOTICE: All information contained herein is, and remains
the property of Adobe Systems Incorporated and its suppliers,
if any. The intellectual and technical concepts contained
herein are proprietary to Adobe Systems Incorporated and its
suppliers and are protected by trade secret or copyright law.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe Systems Incorporated.
*/
.Profile-avatar, .Profile-thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.Profile-button, .Profile-header-cta, .Profile-menu-link {
    text-decoration: none;
    transition: all 125ms ease-in-out
}

.Profile-header:focus, .Profile-menu-link:focus, .Profile-thumbnail:focus, .accessibility-focus:focus {
    outline-offset: -3px
}

.Profile-thumbnail {
    display: block;
    width: 30.1px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer
}

.Profile-thumbnail.has-notification {
    position: relative
}

.Profile-thumbnail.has-notification:after {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    content: ''
}

.Profile-thumbnail.has-notification.is-warning:after {
    background-color: #F53C3C;
    background-clip: content-box
}

.Profile-header {
    text-decoration: none;
    padding: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #E1E1E1
}

.Profile-header:active .Profile-header-cta, .Profile-header:hover .Profile-header-cta {
    color: #2C2C2C;
    box-shadow: inset 0 -1px 0 0 #2C2C2C
}

.Profile-avatar {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.Profile-data {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 16px;
    overflow: hidden;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.Profile-name {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    color: #2C2C2C;
    padding: 0;
    margin: -3px 0 0;
    word-wrap: break-word
}

.Profile-name_long {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    max-height: 39.2px
}

.Profile-email {
    font-size: 14px;
    margin: -1px 0 12px;
    padding: 0;
    line-height: 1.25;
    color: #707070;
    word-break: break-all
}

.Profile-header-cta {
    font-size: 14px;
    padding-bottom: 1px;
    display: inline-block;
    color: #4B4B4B;
    box-shadow: inset 0 -1px 0 0 #4B4B4B
}

.Profile-notification {
    padding: 20px;
    border-bottom: 1px solid #E1E1E1;
    text-align: center
}

.Profile-notification-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.Profile-notification-message {
    padding: 0;
    margin: 0;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #4B4B4B;
    line-height: 1.5;
    text-align: left
}

.Profile-button {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding: 7.5px 16px 9.5px;
    text-transform: capitalize;
    color: #4B4B4B;
    border-radius: 16px;
    background-color: transparent
}

.Profile-button:active, .Profile-button:hover {
    color: #2C2C2C;
    background-color: #F5F5F5
}

.Profile-button.is-warning {
    padding: 5.5px 14px 7.5px;
    color: #F53C3C;
    border: 2px solid #F53C3C
}

.Profile-button.is-warning:active, .Profile-button.is-warning:hover {
    color: #FFF;
    background-color: #F53C3C
}

.Profile-menu {
    margin: 6px 0;
    padding: 0;
    list-style: none
}

.Profile-menu-link {
    display: block;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #4B4B4B
}

.Profile-menu-link:active, .Profile-menu-link:hover {
    color: #2C2C2C;
    background-color: #F5F5F5
}

.Profile-localLinks-menu {
    padding: 6px 0
}

.Profile-localLinks-menu .Profile-menu {
    margin: 0
}

.Profile-localLinks-menu .Profile-menu-text {
    max-height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-wrap: break-word
}

.Profile-localLinks-title {
    padding: 8px 20px;
    color: #707070;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600
}

.Profile-notification-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.Profile-notification-icon svg {
    max-width: 100%;
    display: block
}

.Profile-notification-icon.is-warning path {
    fill: #F53C3C
}

.Profile.theme-dark .Profile-dropdown {
    background-color: #161616
}

.Profile.theme-dark .Profile-name {
    color: #FCFCFC
}

.Profile.theme-dark .Profile-email, .Profile.theme-dark .Profile-notification-message {
    color: #999
}

.Profile.theme-dark .Profile-applications, .Profile.theme-dark .Profile-content, .Profile.theme-dark .Profile-dropdown, .Profile.theme-dark .Profile-header, .Profile.theme-dark .Profile-localLinks-menu, .Profile.theme-dark .Profile-notification {
    border-color: #313131
}

.Profile.theme-dark .Profile-button, .Profile.theme-dark .Profile-menu-link {
    color: #B9B9B9
}

.Profile.theme-dark .Profile-button:active, .Profile.theme-dark .Profile-button:hover, .Profile.theme-dark .Profile-menu-link:active, .Profile.theme-dark .Profile-menu-link:hover {
    color: #CDCDCD;
    background-color: #232323
}

.Profile.theme-dark .Profile-button.is-warning {
    color: #F53C3C
}

.Profile.theme-dark .Profile-button.is-warning:active, .Profile.theme-dark .Profile-button.is-warning:hover {
    color: #161616;
    background-color: #F53C3C
}

.Profile.theme-dark .Profile-header-cta {
    color: #FFF;
    box-shadow: inset 0 -1px 0 0 #FFF
}

.Profile.theme-dark .Profile-header:active .Profile-header-cta, .Profile.theme-dark .Profile-header:hover .Profile-header-cta {
    color: #E2E2E2;
    box-shadow: inset 0 -1px 0 0 #E2E2E2
}

.Profile.theme-grey .Profile-dropdown {
    background-color: #282828
}

.Profile.theme-grey .Profile-name {
    color: #FCFCFC
}

.Profile.theme-grey .Profile-email, .Profile.theme-grey .Profile-notification-message {
    color: #999
}

.Profile.theme-grey .Profile-applications, .Profile.theme-grey .Profile-content, .Profile.theme-grey .Profile-dropdown, .Profile.theme-grey .Profile-header, .Profile.theme-grey .Profile-localLinks-menu, .Profile.theme-grey .Profile-notification {
    border-color: #3E3E3E
}

.Profile.theme-grey .Profile-button, .Profile.theme-grey .Profile-menu-link {
    color: #CDCDCD
}

.Profile.theme-grey .Profile-button:active, .Profile.theme-grey .Profile-button:hover, .Profile.theme-grey .Profile-menu-link:active, .Profile.theme-grey .Profile-menu-link:hover {
    color: #FDFDFE;
    background-color: #323232
}

.Profile.theme-grey .Profile-button.is-warning {
    color: #F53C3C
}

.Profile.theme-grey .Profile-button.is-warning:active, .Profile.theme-grey .Profile-button.is-warning:hover {
    color: #282828;
    background-color: #F53C3C
}

.Profile.theme-grey .Profile-header-cta {
    color: #FFF;
    box-shadow: inset 0 -1px 0 0 #FFF
}

.Profile.theme-grey .Profile-header:active .Profile-header-cta, .Profile.theme-grey .Profile-header:hover .Profile-header-cta {
    color: #E2E2E2;
    box-shadow: inset 0 -1px 0 0 #E2E2E2
}

[dir=rtl] .Profile {
    text-align: right
}

[dir=rtl] .Profile-data {
    margin-left: 0;
    margin-right: 16px
}

[dir=rtl] .Profile-dropdown {
    right: auto;
    left: 0
}

.Profile {
    font: 400 14px/1 adobe-clean, sans-serif;
    box-sizing: border-box;
    color: #4B4B4B;
    text-align: left;
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.Profile *, .Profile :after, .Profile :before {
    box-sizing: inherit
}

.Profile.Profile-hidden .Profile-dropdown {
    display: none;
    visibility: hidden
}

.Profile.Profile-invisible .Profile-dropdown {
    display: block;
    visibility: hidden
}

.Profile.Profile-collapsed .Profile-dropdown {
    -webkit-animation: profile-collapsed .2s ease 0s 1 both;
    animation: profile-collapsed .2s ease 0s 1 both
}

.Profile.Profile-expanded .Profile-dropdown {
    -webkit-animation: profile-expanded .2s ease 0s 1 both;
    animation: profile-expanded .2s ease 0s 1 both
}

@-webkit-keyframes profile-collapsed {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes profile-collapsed {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes profile-expanded {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes profile-expanded {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.Profile-dropdown {
    width: 320px;
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid #E1E1E1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFF;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .1)
}

.Profile-applications, .Profile-content, .Profile-localLinks-menu {
    border-bottom: 1px solid #E1E1E1
}