<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="slider_two">
	<f:if condition="{data.bodytext}">
		<div class="footer_text">
			<f:format.raw>{data.bodytext}</f:format.raw>
		</div>
	</f:if>
	<div class="slider second_slider">
		<f:for each="{files}" as="image">
			<f:image image="{image}" class="single-item"
					 width="348c" height="348c" class="slide" alt="{image.properties.alt}" title="{image.properties.title}" />
		</f:for>
	</div>
</div>

<script>
	$('.second_slider').slick({
		infinite: true,
		variableWidth: false,
		centerMode: false,
		//prevArrow: $('.second_slider_prev'),
		//nextArrow: $('.second_slider_next'),
		slidesToShow: <f:format.raw>{data.slides_to_show}</f:format.raw>,
	slidesToScroll: <f:format.raw>{data.slides_to_scroll}</f:format.raw>
	});
</script>

</html>